@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

$primary-blue: hsl(215, 51%, 70%);
$primary-cyan: hsl(178, 100%, 50%);

$main-background: hsl(217, 54%, 11%);
$mid-background: hsl(217, 54%, 5%);
$card-background: hsl(216, 50%, 16%);
$dash: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);